body {
	margin-top:90px;
	font-weight: 300;
	font-size: 14px;
	/*background-color:#F6FFF5;*/
	background-color:#f5f8fa;
	
}

.navbar {
	/*background-color: #5cb85c;*/
	/*background-color: #EDF9EC;*/
	background-color: #2882b5;
	box-shadow: 1px 1px 1px #CCC;
}

.img-profile {
	margin-top: -75px;
	max-width: 110px;
	padding: 3px;
    background-color: #fff;
    border: 1px solid #E5E5E5;
}

.card-text-link {
	color:#000;
	font-weight: 300;
}

.mini-photos > .col-sm-6 {
	margin-top: 10px;
}


.card {
	background-color: #fff;
}

