body {
	margin-top:90px;
	font-weight: 300;
	font-size: 14px;
}

.img-profile {
	margin-top: -75px;
}

.card-text-link {
	color:#000;
	font-weight: 300;
}

.mini-photos > .col-sm-6 {
	margin-top: 10px;
}

.img-card-profile {
	margin-top:10px;
}

