body {
	margin-top:90px;
	font-weight: 300;
	font-size: 14px;
	background-color:#FAFAFA;
}

.navbar {
	background-color: #5cb85c;
}

.img-profile {
	margin-top: -75px;
	max-width: 110px;
	padding: 3px;
    background-color: #fff;
    border: 1px solid #E5E5E5;
}

.card-text-link {
	color:#000;
	font-weight: 300;
}

.mini-photos > .col-sm-6 {
	margin-top: 10px;
}


.card {
	background-color: #fff;
}

